body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    min-height: 100vh;}

#tabella {
    border-collapse: collapse;
    width: 100%; 
    margin: 20px auto;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out;
}

#tabella th, #tabella td {
    padding: 10px; 
    text-align: left;
    border-bottom: 1px solid #5f3d3d;
}

#tabella th {
    background-color: #00ff8c;
}

.contenitore {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    max-width: 40%; 
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 650px;
    animation: animazione 1s ease-in-out;
}

img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

img:not(:hover) {
    transform: scale(1);
}

h1 {
    animation: animazione 1s ease-in-out;
    text-align: center; 
}

@keyframes animazione {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 768px) {
    #tabella {
        font-size: 0.8em; 
    }
    img {
        margin-left: 100px; 
        width: 250px;
        max-width: 10000px;
        height: 100px;
    }
    h1 {
        font-size: 1.5em; 
    }
}
